@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary: #4267b2;
  --font-dark: #050505;
  --font-light: #606164;
  --white: #fffbfb;
  --grey: #f0eef1;
  --grey-hover: #d8d7db;
  --grey-active: #ccccd0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--grey);
  color: var(--font-light);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

button,
input {
  border: none;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.button {
  padding: 10px 15px;
  border-radius: 7px;
  background-color: var(--grey);
}

.button:hover {
  background-color: var(--grey-hover);
}

.button:active {
  background-color: var(--grey-active);
  transform: scale(0.98);
}
