.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.post-form {
  display: flex;
  gap: var(--spacing-md);
}

.post-panel {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.avatar {
  width: 40px;
  border-radius: 50px;
  background-color: var(--grey);
}

.author-name {
  max-width: 200px;
  word-wrap: break-word;
}

.post-info {
  flex: 1;
}

.time-info {
  margin-top: 3px;
  color: var(--font-light);
  font-weight: 400;
}

.options-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  font-size: 16px;
  background-color: transparent;
  color: var(--font-light);
}

.options-button:hover {
  background-color: var(--grey);
}

.options-button:active {
  background-color: var(--grey-hover);
}

.post-text {
  font-weight: 400;
}

@media (max-width: 360px) {
  .author-name {
    max-width: 160px;
  }
}
