.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.post {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.post i {
  margin-right: var(--spacing-xs);
}

.post-form {
  display: flex;
  gap: var(--spacing-md);
}

.post-panel {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.avatar {
  width: 40px;
  border-radius: 50px;
  background-color: var(--grey);
}

.author-name {
  max-width: 200px;
  word-wrap: break-word;
}

.post-info {
  flex: 1;
}

.post-statistics {
  display: flex;
  justify-content: space-between;
  color: var(--font-light);
}

.likes {
  display: flex;
  align-items: flex-end;
  line-height: 1.1;
}

.comments-button {
  user-select: none;
}

.comments-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-statistics i {
  padding: var(--spacing-xs);
  border-radius: 50px;
  font-size: 10px;
  color: var(--white);
  background-color: var(--primary);
  box-shadow: var(--shadow);
}

.time-info {
  margin-top: var(--spacing-xs);
  color: var(--font-light);
  font-weight: 400;
}

.options-buttons {
  display: flex;
}

.options-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 36px;
  height: 36px;
}

.options-button i {
  margin: 0;
}

.transparent-button {
  background-color: transparent;
  color: var(--font-light);
}

.transparent-button:hover {
  background-color: var(--grey);
}

.transparent-button:active {
  background-color: var(--grey-hover);
}

.post-text {
  font-weight: 400;
}

.post-buttons {
  display: flex;
  width: 100%;
}

.post-buttons button {
  flex: 1;
}

.comments {
  margin-top: 10px;
}

.comment {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-weight: 400;
  margin-top: var(--spacing-sm);
}

.comment-cloud {
  padding: var(--spacing-sm);
  background-color: var(--grey);
  border-radius: var(--border-radius);
}

.comment-info {
  display: flex;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xs);
}

.comment-author {
  font-weight: 500;
}

.comment-time {
  font-size: 12px;
}

@media (max-width: 360px) {
  .author-name {
    max-width: 160px;
  }
}
