.aside {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-width: 300px;
}

.box-title {
  margin-bottom: var(--spacing-md);
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.info {
  color: var(--font-light);
  text-align: center;
}

.input {
  margin-bottom: var(--spacing-md);
}

@media (max-width: 680px) {
  .aside {
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .aside {
    min-width: 250px;
  }
}
