.navbar * {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--white);
  color: var(--font-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
  width: 30px;
}

.page-name {
  margin-left: -15px;
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: 20px;
}
